body {
}
h2 {
	font-size: 1.5rem;
}
.num_1 {
	background: linear-gradient(
		180deg,
		rgba(12, 190, 223, 1) 42%,
		rgba(71, 108, 231, 1) 100%
	);
	border-radius: 65px 10px 85px 25px;
	margin-top: 5rem;
}
.num_2 {
	//background: rgb(107, 33, 168);
	background: linear-gradient(
		180deg,
		rgba(71, 108, 231, 1) 42%,
		rgba(12, 190, 223, 1) 100%
	);
	border-radius: 25px 85px 10px 65px;
}

.num_3 {
	background: linear-gradient(
		180deg,
		rgba(12, 190, 223, 1) 42%,
		rgba(71, 108, 231, 1) 100%
	);
	border-radius: 75px 15px 65px 20px;
}
