@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bodyContact {
	background: rgb(107 33 168);
} */
body {
	overflow-x: hidden;
}
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #0c86f8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: #0c86f8;
	background: #0cc0df;
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(12, 132, 248, 0.6);
	border-radius: 14px;
}

html {
	--mainColor: #0cc0df;
}
@media screen and (max-width: 768px) {
	::-webkit-scrollbar {
		-webkit-appearance: none;
	}
}

.trail {
	position: absolute;
	height: 12px;
	width: 12px;
	border-radius: 15px;
	background-color: var(--mainColor);
	transform: translate(-80%, -80%);
}

@media screen and (max-width: 769px) {
	.trail {
		display: none;
	}
}
